* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(158, 95, 238, 1);
}


.profile-icon {
    cursor: pointer;
}

.profile-icon i {
    font-size: 40px;
    color: white;
}

#myname {
  width: 85%;
  margin: 10px auto 10px auto;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

h1 {
    color: white;
    font-size: 36px;
    margin: 0;
}

.fill-form-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

/* Side navigation styles */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color:rgba(77, 55, 106, 1);
    z-index: 1;
    display: none;
}

.side-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(101, 76, 132, 1);
    color: white;
}


.side-nav-header h2 {
    margin: 0;
    font-size: 36px;
}

/* Add a background color */


/* Style the links */
.side-nav-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Add hover effect to links */
.side-nav-content a:hover {
  background-color: #ddd;
  color: #000;
}

/* Make the links take up the full width of the container */
.side-nav-content a {
  width: 100%;
  text-align: left;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .side-nav-content a {
      font-size: 16px;
  }
}

#name {
    font-weight: bold;
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
    .header {
        flex-wrap: wrap;
    }
    .profile-icon {
    margin-right: 10px;
    }
    h1 {
    font-size: 24px;
    }
    .fill-form-btn {
    font-size: 14px;
    }
    .side-nav-header h2 {
    font-size: 24px;
    }
    #name {
    font-size: 18px;
    }
    .close-btn {
    font-size: 28px;
    }
    }  
 

    .main-content {
        position: relative;
    }
    
    .main-content-img {
        width: 100%;
        height: auto;
        filter: brightness(80%); /* make the image little light */
    }
    
    .main-content-text {
        position: absolute;
        margin-top: 15px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        text-align: center;
        color: white;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 10px;
    }
    
    /* Media Queries */
    
    /* For screens larger than 1200px */
    @media (min-width: 1200px) {
        .main-content-text {
            font-size: 1.5rem; /* increase font-size */
            padding: 20px; /* increase padding */
        }
    }
    
    /* For screens between 992px and 1199px */
    @media (min-width: 992px) and (max-width: 1199px) {
        .main-content-text {
            font-size: 1.3rem;
        }
    }
    
    /* For screens between 768px and 991px */
    @media (min-width: 768px) and (max-width: 991px) {
        .main-content-text {
            font-size: 1.2rem;
        }
    }
    
    /* For screens smaller than 767px */
    @media (max-width: 767px) {
        .main-content-text {
            font-size: 1rem; /* decrease font-size */
            padding: 10px; /* decrease padding */
        }
    }
    
    .rectangle-bar-container {
        width: 100%;
        display: flex;
    }
    

  
    /* Rectangle bars */
    .rectangle-bar {
        width: 50%;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 1.2rem;
        font-weight: bold;
        
        cursor: pointer;
    }
    
    /* Left rectangle bar */
    .rectangle-bar.left {
        background-color: #333;
        color: #fff;
    }
    
    /* Right rectangle bar */
    .rectangle-bar.right {
        background-color: #f5f5f5;
        color:#333;
    }
    
    /* Active rectangle bar */
    .rectangle-bar.active {
        border: solid 2px #333;
    }
    
    /* Rectangle bar hover effect */
    .rectangle-bar:hover {
        background-color: #555;
    }
    

   
    
    
    /* For screens larger than 1200px */
    @media (min-width: 1200px) {
        .rectangle-bar {
            font-size: 1.5rem; /* increase font-size */
            height: 60px; /* increase height of rectangle bar */
        }
    }
    
    /* For screens between 992px and 1199px */
    @media (min-width: 992px) and (max-width: 1199px) {
        .rectangle-bar {
            font-size: 1.3rem;
        }
    }
    
    /* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .rectangle-bar {
        font-size: 1.2rem;
    }
}

/* For screens between 576px and 767px */
@media (min-width: 576px) and (max-width: 767px) {
    .rectangle-bar {
        width: 100%; /* change width to 100% for smaller screens */
        height: 40px; /* decrease height of rectangle bar */
    }
}

/* For screens smaller than 576px */
@media (max-width: 575px) {
    .rectangle-bar {
        font-size: 1rem;
         
    }
}

.left-info p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #333;
    margin-top: 20px;
}
@media only screen and (max-width: 768px) {
    .left-info p {
      font-size: 1.2em;
      }
  }
  .left-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.right-info p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #333;
    margin:20px 0 0 0;
}

@media only screen and (max-width: 768px) {
    .right-info p {
      font-size: 1.2em;
      }
  }
  .right-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.aarogi-detail {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    margin: 10px;
    font-weight: 600;
  }

  .aarogi-detail span {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .aarogi-detail {
      font-size: 1rem;
    }
  }

  .join-btn {
    background-color: rgba(158, 95, 238, 1);
    color: #fff;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5%;
    cursor: pointer;
  }
  
  .join-btn:hover {
    background-color:rgba(77, 55, 106, 1) ;
  }
  @media screen and (max-width: 600px) {
    .join-btn {
    width: 50%;
    font-size: 16px;
    }
    }

    .nutrition-container {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        margin-bottom:25px ;
    }
    
    .nutrition-heading {
        text-align: center;
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: bold;
    }
    
    .nutrition-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    
    .nutrition-img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
    
    .nutrition-text {
        font-size: 18px;
    }
    
    /* Responsive styles */
    @media only screen and (max-width: 600px) {
        .nutrition-item {
        flex-wrap: wrap;
        }
        .nutrition-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        }
        }


        .slideshow-container{
            max-width: fit-content;
            height: 300px;
            display:flex;
            overflow-x: scroll;
            margin: 10px 0 10px 0;
          }
          .slide-box{
            margin:0 0 0 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 2px 2px 2px #ccc;
            background-color: rgba(77, 55, 106, 1);
            padding: 10px;
            position: relative;
          }
         .slide-box h3 {
            margin-left: 5px;
            color: wheat;
            font-weight: bolder;
         }
          .slide-box p {
            width:270px;
            padding: 10px;
            color: white;
            margin-top: 10px;
            background-color: rgba(158, 95, 238, 1);
            font-size: 18px;
          }
          

          .form_div {
            width: 100%;
            text-align: center;
            margin:20px 0 25px 0;
          }
          .form-button {
            padding: 10px 20px;
            border-radius: 25px;
            background-color: rgba(33, 255, 135, 1);
            color: black;
            font-size: 18px;
            box-shadow: 0px 5px 10px #888888;
            transition: all 0.3s ease-in-out;
            width: 90%;
            height: 50px;
            text-align: center;
        
          }
          
          .form-button:hover {
            background-color: #fff;
            color: #4c3769;
            box-shadow: 0px 5px 10px #4c3769;
          }
 /* Media queries for button */
@media (max-width: 768px) {
    .form-button {
      font-size: 20px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .form-button {
      font-size: 20px;
      padding: 6px 12px;
    }
  }
     
  footer {
    background-color: #3f3f3f;
    color: #fff;
    padding: 2rem;
    margin-top: 30px;
  }
  .footer-container span {
    font-size: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-links {
    position: relative;
    margin-top: 15px;
  }
  .footer-links a {
    margin-bottom: 20px;
    position: relative;
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 20px;
  }
  .social-links {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social-links a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    margin: 15px;
  }
  
  
  .made_love {
    font-size: 25px;
    margin-top: 10px;
  }
  
  .fa-heart {
    color: red;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-container {
      flex-wrap: wrap;
    }
  
    .footer-links,
    .social-links {
      width: 100%;
      text-align: center;
    }
  }
  
  #afterSub {
    display: none;
  }

 
  


 

  #money-but {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

#money-but div {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#money-but button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

#money-but button:hover {
    background-color: #3e8e41;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    #money-but {
        width: 90%;
        font-size: 16px;
    }
}

#cal-det {
  display: none;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#calendar {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  border-radius: 10px;
}

#calendar th, #calendar td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#calendar th {
  background-color: #4CAF50;
  color: white;
}

#calendar td {
  background-color: #fff;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  #calendar {
      font-size: 12px;
  }
}

.checkmark {
  color: green;
}

.linked {
  color: green;
  text-decoration: underline;
  font-size: 17px;
}


.faq-section {
  border:3px solid black;
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 90%;
}

.faq-question {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.question {
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.question:hover {
  background-color: #333;
  color: white;
}

.answer {
  display: none; /* hide answers by default */
  background-color: #f9f9f9;
  padding: 10px;
}

.show {
  display: block; /* show answer when question is clicked */
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #dddddd;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#welcomeMessage {
  font-size:35px;
  color:rgba(77, 55, 106, 1);
  font-weight: bolder;
  top: -10px;
  position: relative;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #dddddd;
}

#submitBtn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: rgba(158, 95, 238, 1);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #dddddd;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #3e8e41;
}

p {
  font-size: 18px;
  margin-top: 20px;
}

#slide-box a {
  width: 80%; font-size:20px; padding:6px;background-color: rgba(33, 255, 135, 1); text-decoration:none; box-shadow: 0px 5px 10px #888888; transition: all 0.3s ease-in-out; border-radius: 25px; margin:0 auto 0 auto;color:black; display:block; text-align:center;
}

#slide-box a:hover {
  background-color: #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  #video_sec {
    padding: 10px;
  }
  #video_sec h3 {
    font-size: 20px;
  }
  #video_sec li {
    font-size: 16px;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(158, 95, 238, 1);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color:white;
}

.loading-bar {
  width: 50%; /* adjust the width of the loading bar */
  height: 20px; /* adjust the height of the loading bar */
  background-color: #3498db; /* adjust the background color of the loading bar */
  border-radius: 10px; /* adjust the border radius of the loading bar */
  position: relative;
}

.loading-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

#aarogi_home {
  display: none;
}

.form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  animation: slideIn 0.5s ease-out;
  z-index: 3;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

#back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}

#back-button1 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
#back-button2 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
#back-button3 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
#back-button4 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
#back-button5 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}